{% from "social-icon.njk" import social_icon %}

<div class="flex gap-x-3">
  {{ social_icon('google', site.social.google_business) }}
  {{ social_icon('facebook', site.social.facebook) }}
  {{ social_icon('instagram', site.social.instagram) }}
  {{ social_icon('x', site.social.x) }}
</div>